@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EFF1FA;
    color: #0A3871;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: #F3F5FC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-source{
    margin: 0 auto;
    padding: 1rem 2rem;
}

#source{
    margin-top: 2rem;
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 1rem 2rem;
    background-color: #F3F5FC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-destination{
    margin: 0 auto;
    padding: 1rem 2rem;
}

#destination{
    margin-top: 2rem;
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 1rem 2rem;
    background-color: #F3F5FC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-actions{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    margin-right: 2rem;
}

button{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

#encriptar{
    display: inline-block;
    width: 200px;
    padding: 2rem 2rem;
    background-color: #0A3871;
    color: #F3F5FC;
    border-radius: 12px;
}

#desencriptar{
    display: inline-block;
    padding: 2rem 0;
    width: 200px;
    background-color: #0A3871;
    color: #F3F5FC;
    border-radius: 12px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    background-color: #0A3871;
    color: #EFF1FA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}